<!-- site do mapa https://leafletjs.com/examples/quick-start/ -->

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <link rel="stylesheet" href="tudo.css"/>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
     
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    </head>
    <body>
        
        <div id="mapid" ></div>

        <script type="text/javascript">
            var mymap = L.map('mapid').setView([-10.0264622, -38.0548861], 6);
            
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                accessToken: 'pk.eyJ1Ijoienp6bWF0YSIsImEiOiJjazNrZXMyY3AwdDdyM2Vrb3dsNTI0YTlrIn0.SgQDM12DwWHXjdrPqLoFOw'
            }).addTo(mymap);
            
        </script>
    </body>





<div id="tudo">


<div style="display: flex; justify-content: space-between">

<form class="form-inline">

    <div class="input-group" style="flex: 1;">
        <input class="form-control" placeholder="Pesquisar por texto" size="100">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </span>
    </div>
<br>
    <div class="form-group" style="flex: 1;">
        <select class="form-control" v-model="categoriasFiltro">
            <option value="">Escolha sua categoria</option>
            <option value="Individuo">Indivíduo</option>
            <option value="Coletivo">Coletivo</option>
            <option value="EquipamentosCulturais">Equipamentos Culturais</option>
        </select>
    </div>

    <select class="form-control" v-model="segmentosFiltro" style="flex: 1;">
        <option value="">Escolha segmentos</option>
        <option value="1">Arquitetura</option>
        <option>Artes Cênicas</option>
        <option>Artes Visuais</option>
        <option>Artesanato</option>
        <option>Audiovisual</option>
        <option>Cartonaria</option>
        <option>Cinema</option>
        <option>Entidades Culturais</option>
        <option>Jogos Digitais</option>
        <option>Literatura</option>
        <option>Moda</option>
        <option>Música</option>
        <option>Gastronomia</option>
    </select>

    <select class="form-control" v-model="tagFiltro">
        <option value="">Escolha tags</option>
        <option v-for="tag in tags">{{tag}}</option>
    </select>

    <select class="form-control" v-model="cidadeFiltro">
        <option value="">Escolha uma cidade</option>
        <option v-for="cidade in cidades">{{cidade}}</option>
    </select>

    </div>
</form>

<button class="btn ">
    <a href="/">
    Voltar
</a>
</button>



<div class="radar-list-container">
    <div class="row">
    
        <div v-for="radarItem in radares" @mouseover="escolhido = radarItem" class="col-xs-12 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <h4 class="card-title text-center">{{radarItem.rad_titulo}}</h4>
                        <div class="card-description text-center">
                        <p>
                            {{radarItem.rad_descricao}}
                        </p>
                        </div>
                        <div class="card-extra text-center">
                        <a >
                            <button type="button" class="btn obec-blue-btn">Ver</button>
                        </a>
                        </div>
                    </div>
            </div>                      
        </div>
    </div>
</div>

</div>

<script>

var redIcon = new L.Icon({
    iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });

  var greenIcon = new L.Icon({
    iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });















var app = new Vue({
    el: '#tudo',
    data: {
        radaresFiltros: [],
        radaresMapa: [],
        radares: [],
        locais: [],
        escolhido: null,
        cidades:[],
        cidadeFiltro:"",
        tags:[],
        tagFiltro:"",
        categoriasFiltro:"",
        segmentosFiltro:""
    },
    methods: {

    },
    watch:{
        escolhido(novoValor,antigoValor){
            this.radaresFiltros = this.radares
            for(let i=0; i< this.radaresFiltros.length ;i++){
                desmarcar( this.radaresFiltros[i]["marcador"] )
                if(this.escolhido["rad_end_id"] ==  this.radaresFiltros[i]["rad_end_id"] ){
                    marcador = marcar(this.radaresFiltros[i]["lat"], this.radaresFiltros[i]["long"], 1, this.radaresFiltros[i]["rad_titulo"])
                }else{
                    marcador = marcar(this.radaresFiltros[i]["lat"], this.radaresFiltros[i]["long"], 0, this.radaresFiltros[i]["rad_titulo"])
                }
                this.radaresFiltros[i]["marcador"] = marcador
            }
        },
        cidadeFiltro(novoValor,antigoValor){
            this.radaresFiltros = this.radares
            listaAuxiliar = []
            for(let i=0; i< this.radaresFiltros.length ;i++){
                desmarcar( this.radaresFiltros[i]["marcador"] )
            for(let j=0; j< this.locais.length ;j++){
                if(this.radaresFiltros[i]["rad_end_id"] == this.locais[j]["end_id"] ){
                    if( novoValor ==  this.locais[j]["end_cidade"] ){
                        marcador = marcar(this.locais[j]["end_latitude"], this.locais[j]["end_longitude"], 2, this.radares[i]["rad_titulo"])
                        this.radaresFiltros[i]["marcador"] = marcador
                        listaAuxiliar.push( this.radaresFiltros[i] )
                        break
                    }
                }
            }
            }
            this.radaresFiltros = listaAuxiliar
        },
        tagFiltro(novoValor,antigoValor){
            this.radaresFiltros = this.radares
            for(let i=0; i< this.radaresFiltros.length ;i++){
                desmarcar( this.radaresFiltros[i]["marcador"] )
                if(this.radaresFiltros[i]["rad_tags"].split(" ").includes(novoValor)){
                    marcador = marcar(this.radaresFiltros[i]["lat"], this.radaresFiltros[i]["long"], 2, this.radares[i]["rad_titulo"])
                    this.radaresFiltros[i]["marcador"] = marcador
                }
            }
        },
        segmentosFiltro(novoValor,antigoValor){
            this.radaresFiltros = this.radares
            for(let i=0; i< this.radaresFiltros.length ;i++){
                desmarcar( this.radaresFiltros[i]["marcador"] )
                if(this.radaresFiltros[i]["rad_seg_id"] == novoValor){
                    marcador = marcar(this.radaresFiltros[i]["lat"], this.radaresFiltros[i]["long"], 2, this.radares[i]["rad_titulo"])
                    this.radaresFiltros[i]["marcador"] = marcador
                }
            }
        }

    },
    computed:{
        
    },
    mounted: function () {
        axios.get("http://localhost:3000/api/radar").then( (ra)=>{
            this.radares = ra.data.response
        
            axios.get("http://localhost:3000/api/endereco").then( (en)=>{
                this.locais = en.data.response

                for(let i=0; i< this.radares.length ; i++){
                    this.radares[i]["rad_tags"].split(" ").map( (dado)=>{if (!(dado in this.tags)){ this.tags.push(dado)}})
                    for(let j=0; j< this.locais.length ;j++){
                        if(this.radares[i]["rad_end_id"] == this.locais[j]["end_id"] ){
                            if (!(this.locais[j]["end_cidade"] in this.cidades)){ this.cidades.push(this.locais[j]["end_cidade"])}
                            marcador = marcar( this.locais[j]["end_latitude"], this.locais[j]["end_longitude"], 0 ,this.radares[i]["rad_titulo"])
                            this.radares[i]["lat"] = this.locais[j]["end_latitude"]
                            this.radares[i]["long"] = this.locais[j]["end_longitude"]
                            this.radares[i]["marcador"] = marcador
                        }
                    }
                }
                this.radaresFiltros = this.radares
            })
        })

    }
})

function marcar(x,y,cor,titulo){
    marcador = null
    if(cor == 1){
        marcador = L.marker([ x, y ], {icon: redIcon},title=titulo).addTo(mymap).bindPopup(titulo).openPopup();
    }else if(cor == 2){
        marcador = L.marker([ x, y ], {icon: greenIcon},title=titulo).addTo(mymap).bindPopup(titulo).openPopup();
    }else{
        marcador = L.marker([ x, y ],title='titulo').addTo(mymap).bindPopup(titulo).openPopup();
    }
    return marcador
}

function desmarcar(marcador){
    mymap.removeLayer(marcador)
}

</script>

</html>